/*
Colors (Analogous)
#03092b
#608bab
#008c8f
#00522f
#007811
*/

* {
	box-sizing: border-box;
	color: #03092B;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

body {
	background: linear-gradient(#007811, #00522F);
	margin: 0;
}

header {
	background-color: #608BAB;
	padding: 1em;
	overflow: auto;
}

header h1 {
	display: inline-block;
}

h2 {
	clear: both;
	margin-left: 2em;
}

nav {
	float: left;
	width: 100%;
	background-color: #608BAB;
}

nav li {
	float: left;
}