.hand, .books
	width: 50%
	li
		display: inline-block

.hand
	float: left
	border-right: $light-border
	ul
		padding: 0 50px
	li
		text-indent: -50px

.books
	float: right
	padding: 0 1em
	ul
		display: inline-block
		margin: 0 0.1em
	li
		text-indent: -65px
	li:first-child
		text-indent: 0