.main-nav
  background-color: $dark-color
  
  ul
    margin: 0 auto
    width: 800px
    li
      display: inline-block
      border: 1px solid $dark-color
      // background: linear-gradient($gradient-light, $gradient-dark)
      &:hover
        background: linear-gradient($gradient-dark, $gradient-light)
    a
      display: block
      height: 100%
      text-decoration: none
      color: $main-color
      padding: .75em 2em