@import "variables"
@import "hand"
@import "books"
@import "opponents"
@import "layout"

body
  -moz-box-sizing: border-box
  box-sizing: border-box
  color: $dark-color
  font-family: "Times New Roman", Times, serif

h1
  font-family: Tahoma, Geneva, sans-serif

ul
  padding: 0

li
  list-style: none

body
  background-color: $background-color
  margin: 0

.game, footer
  max-width: 800px
  background-color: $main-color
  padding: 0.5em 1em
  margin: 0 auto
  border-bottom: $light-border

.main-nav
  background-color: $dark-color
  
  ul
    margin: 0 auto
    width: 800px
    li
      display: inline-block
      border: 1px solid $dark-color
      // background: linear-gradient($gradient-light, $gradient-dark)
      &:hover
        background: linear-gradient($gradient-dark, $gradient-light)
    a
      display: block
      height: 100%
      text-decoration: none
      color: $main-color
      padding: .75em 2em

form
  margin-bottom: 0.2em
  p
    display: inline-block
  select, button, p
    margin-right 0.2em