@import "variables"
@import "header"
@import "hand"
@import "books"
@import "opponents"
@import "layout"

*
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  color: $dark-color
  font-family: "Times New Roman", Times, serif

h1
  font-family: Tahoma, Geneva, sans-serif

ul
  padding: 0

li
  list-style: none

body
  background-color: $background-color
  margin: 0

.game, .login, .games, footer // Refactor sometime
  overflow: auto
  max-width: 800px
  background-color: $main-color
  padding: 0.5em 1em
  margin: 0 auto
  border-bottom: $light-border

.create
  float: left

.join
  float: right
  span
    text-align: center
    display: block
  .game-label, .players-label
    font-weight: bold
  .game-label, .name
    float: left
  .players-label, .players
    float: right
  .name
    clear: left

.create form
  select, input, button
    display: block

form
  margin-bottom: 0.2em
  p
    display: inline-block
  select, button, p
    margin-right 0.2em